html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    font-family: 'Roboto', sans-serif;
}
.hero {
    float: left;
    width: 100%;
    background: url(https://easyshopping.nexi.it/img/hero-desk.jpg) center center no-repeat;
    color: #fff;
    height: 440px

}
.hero .hero-content {
    float: none;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    padding: 100px 0;
}
.hero .hero-content p {
    padding: 0;
    margin: 10px 0 0;
    font-size: 40px;
}
.simulator {
    color: #fff;
    font-weight: 500;
    text-size-adjust: 100%;
    word-wrap: break-word;
    background: #2a30a0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale!important;
    float: left;
    width: 100%;
    color: #fff;
}
.simulator .primo {
    font-size: 30px;
    /*background-image: -ms-linear-gradient(top righ-webkit-gradient #0a9ad2 0,#2a30a0 100%);
    background-image: -moz-linear-gradient(top right,#0a9ad2 0,#2a30a0 100%);
    background-image: -o-linear-gradient(top right,#0a9ad2 0,#2a30a0 100%);
    background-image: -webkit-gradient(top right,#0a9ad2 0,#2a30a0 100%);
    background-image: -webkit-linear-gradient(top right,#0a9ad2 0,#2a30a0 100%);
    background-image: linear-gradient(top to right,#0a9ad2 0,#2a30a0 100%);*/
    margin-top: 0;
    padding: 0;
    position: relative;
}
.simulator .primo, .simulator .secondo, .simulator .terzo {
    text-align: center;
    float: left;
    width: 100%;
}
.simulator .primo span {
    padding: 30px 10px;
    float: none;
    margin: 0 auto;
    display: block;
}
.simulator .primo a.back {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}
.block-plafond {
    width: 100%;
    float: left;
}
.block-plafond .center {
    float: none;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    max-width: 620px;
}
.block-plafond .center .block {
    float: left;
    width: 100%;
    padding-top: 50px;
    display: table;
}
.block-plafond .center .block .imput-plafond {
    float: none;
    display: block;
    max-width: 480px;
    overflow: hidden;
    margin: 0 auto;
}
.block-plafond .center .block .imput-plafond p {
    padding: 0 10px;
    float: left;
    font-size: 18px;
    margin: 20px 0
}
.block-plafond .center .block .imput-plafond .box-plafond {
    border: 1px solid #fff;
    border-radius: 8px;
    float: left;
    padding: 2px 10px 2px;
    margin-top: 5px;
    font-size: 20px;
}
.block-plafond .center .block .imput-plafond .box-plafond input {
    border: none;
    background: #2a30a0;
    width: 130px;
    color: #fff;
    height: 50px;
    line-height: 30px;
    text-align: right;
    outline: 0!important;
    font-size: 20px;
}
.block-plafond .center .error {
    float: left;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}
.block-calculator {
    position: relative;
    float: left;
    width: 100%;
}
.block-calculator .block-error.show {
    display: block;
}
.error.show {
    display: block;
}
.error.hidden {
   display:none;
}
.block-calculator .block-error {
    float: left;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2a30a0;
    z-index: 1000000;
    position: absolute;
    display: none;
    opacity: .7;
}
.simulator .secondo {
    font-size: 25px;
    margin: 30px 0 10px;
}
.simulator .container {
    float: left;
    width: 100%;
    z-index: 100000;
    position: relative;
    margin: 80px 0;
}
.simulator .import-setting {
    padding-bottom: 20px;
    font-size: 25px;
}
.input-range-container {
    width: 60%;
    margin: auto
}
.input-range {
    height: 4rem
}
.rc-slider-rail {
    height: 1rem;
    border-radius: 0;
}
.rc-slider-handle {
    border: 2px solid #fff;
    background: #0a9ad2;
    font-weight: 400;
    color: #454545;
    width: 40px;
    height: 40px;
    margin-top: -12px;
    margin-left: -15px
}
.rc-slider-dot {
    display: none
}
.rc-slider-track {
    height: 1rem;
    border-radius: 0;
    background-image: -webkit-linear-gradient(top right,#0a9ad2 0,#2a30a0 100%);
}
.rc-slider-mark-text {
    top: -50px;
    color: white
}
.block-values {
    width: 360px;
    margin:0 auto;
    background: white;
    height: 200px;
    color:black
}